<!--分页组件-->
<div class="pagination" *ngIf="pageParams.totalPage>1 && pageParams.totalNum>0">
  <a class="page-link">总计 {{pageParams.totalNum}} 条，第 {{pageParams.curPage}} / {{pageParams.totalPage}} 页</a>
  <button class="page-item" [routerLink]="['./']" (click)="changePage(pageParams.curPage-1)" [queryParams]="{pageNo:pageParams.curPage-1}"
    [disabled]="pageParams.curPage==1">上一页</button>
  <button class="page-item" [routerLink]="['./']" [disabled]="pageParams.curPage==page.pageNo" (click)="changePage(page.pageNo)"
    [queryParams]="page" *ngFor="let page of getPageList(pageParams)">
    {{page.pageNo}}
  </button>
  <button class="page-item" [routerLink]="['./']" (click)="changePage(pageParams.curPage-(-1))" [queryParams]="{pageNo:pageParams.curPage-(-1)}"
    [disabled]="pageParams.curPage==pageParams.totalPage">下一页</button>
</div>
<div class="text-center text-sm text-dark-gray" *ngIf="!pageParams.totalNum">
  无数据
</div>